@import '../styles/variables';

#header {
  background: $headerColor;
  color: #FFFFFF;
  padding: 0.5rem;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 1.2rem;
    flex-grow: 1;
  }
}
